.nav-ecommerce {
  background-color: #fafafa;
  display: flex;
}

.ul-tags {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 45px;
  margin: 0;
}

.ul-tags > li a {
  color: #1f2937;
  font-size: 13px;
  font-weight: 600;
}

li {
  list-style: none;
}

.container-tags {
  background-color: aliceblue;
}