* {
  padding: 0;
  margin: 0;
}

$ligth: #FFFFFF;
$dark: #1c1c1c;

.navBar {
  background-color: $ligth;
  padding: 1rem 2rem;
  border-bottom: 1px solid $dark;
  display: flex;
}

.flex {
  display: flex;
}

.sideBar {
  width: 14rem;
  height: calc(100vh - 52px);
  border-right: 1px solid $dark;
  ul{
    list-style: none;
    padding: 1rem 2rem;
    li{
      margin-bottom: 1rem;
      a {
        text-decoration: none;
      }
    }
  }
}
